{erl_opts, [debug_info, {src_dirs, ["test"]}]}.
{lfe_first_files, []}.
{deps_dir, ["deps"]}.
{eunit_compile_opts, [
    {src_dirs, ["test", "src"]}
  ]}.
{deps, [
    {'lfe-rest-client',
      ".*", {git, "https://github.com/lfe/lfe-rest-client.git"}}
  ]}.
{sub_dirs, ["backup",
            "cdn",
            "db",
            "dns",
            "files",
            "lb",
            "monitor",
            "servers",
            "storage"]}.
